:root{
    --bs-primary: #BA3F1D;
    --bs-primary-bg-subtle: #ba3f1db4;

    --bs-body-bg: #F7F3F3;

    --bs-body-color: #182226;
    --bs-body-color-translucent: #272d2fa6;

    --bs-border-color: #eaeaee;

    --bs-orange: #FEA82F;
    --bs-white: #F7F3F3;
    --bs-light: #eaeaee;
    --bs-tertiary-bg: var(--bs-orange);
    --bs-tertiary-bg-rgb: 254, 168, 47;
    --orange-off: #FBC67D;

    /* Breakpoints for custom media queries */
    --bp-sm: 576px;
    --bp-md: 768px;
    --bp-lg: 992px;
    --bp-xl: 1200px;
    --bp-xxl: 1400px;

    --bs-font-sans-serif: "Roboto Flex", sans-serif;
}

.nav-link:hover, .nav-link:active {
    color: var(--bs-body-bg);
    background-color: var(--bs-body-color-translucent);
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.25rem;
}

/* Regulates the size of the navigation logo for responsiveness */
.nav-logo {
    width: 60px;
    height: 60px;
}

.contact-logo {
    width: 190px;
    height: 190px;
}

.active {
    font-weight: 600;
    background-color: var(--orange-off);
}

.nav-link.active:active, .nav-link.active:hover {
    color: var(--bs-body-bg);
}

a {
    color: var(--bs-body-color);
}

.full-width{
    width: 80vw;
}

/* Dividing Border */

hr {
    border: 8px solid var(--bs-border-color);
}

.card {
    padding: 2em;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-body-bg);
    --bs-btn-hover-border-color: var(--bs-primary-bg-subtle);
    --bs-btn-active-bg: var(--bs-primary-bg-subtle);
    --bs-btn-active-border-color:var(--bs-primary-bg-subtle);
}

.carousel-item {
    height: 360px;
    width: 100%;
}

.carousel-item img {
    margin: auto auto;
    max-height: 180px;
    padding: auto 0;
}

.carousel-caption {
    background-color: var(--bs-body-color-translucent);
    width: 69%;
    padding: 0.5em;
}

.carousel button:hover {
    background-color: var(--bs-body-color-translucent);
}

.sidebar {
    /* height: 200%; */
    /* height: ; */
    width: 9%;
}

/* Custom adaptation for various sizes not included in base BS */
@media (min-width: var(--bp-sm)) {
    .banner-logo {
        width: 200px;
        height: 200px;
    }

    .contact-logo {
        width: 220px;
        height: 220px;
    }
}

@media (min-width: var(--bp-md)) {
    .banner-logo {
        width: 364px;
        height: 364px;
    }
}